.div {
    background-color: rgb(87, 141, 87);
    height: 100px;
    border-style: double;
    border-width: 10px;
    border-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bolder;
    color: rgb(41, 40, 40);
}

#labelnum {
    font-size: 200px;
    display: block;
    text-align: center;
    text-decoration: underline;
    text-decoration-color:  rgb(64, 83, 64);;
    
    
}

.classdiv {
  background-color:rgb(87, 141, 87);
  height: 50px;
  border: 2px solid black;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  
}

#decrement {
    color: rgb(87, 141, 87);
    font-size: 25px;
    border-radius: 50px;
    border-color: rgb(81, 129, 92);

}

#reset {
    color: rgb(87, 141, 87);
    font-size: 25px;
    border-radius: 50px;
    border-color: rgb(81, 129, 92);

}

#increment {
    color: rgb(87, 141, 87);
    font-size: 25px;
    border-radius: 50px;
    border-color: rgb(81, 129, 92);
}

#labelnum1 {
    font-size: 20px;
    display: block;
    text-align: center;
}